/* App.css에 추가 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
